{{ define "main" }}
<section class="block">
    {{ $url := (print (getenv "API_URL") "/products") }}
    {{ $contentData := resources.GetRemote $url }}
    {{ $jsonData := $contentData.Content | transform.Unmarshal }}
    {{ $productUrl := (print (getenv "BASE_URL") "products") }}

    <div class="container">
        {{ if $jsonData.data }}
        <div class="block is-flex is-justify-content-right mr-4">
            <button class="snipcart-checkout icon-text">
                <span class="icon">
                    <i class="fas fa-shopping-cart"></i>
                </span>
                <span class="">View Cart</span>
            </button>
        </div>
        <div class="test-area">
            <div class="columns is-multiline is-1-mobile is-3-tablet">
                {{ range $jsonData.data }}
                {{ $id := .id | default "unknown-id" }}
                {{ $documentId := .documentId | default "unknown-document" }}
                {{ $name := .Name | default "Unnamed Product" }}
                {{ $price := .Price | default "0.00" }}
                {{ $description := .Description | default "No description available." }}

                <div class="column is-full-mobile is-one-third-tablet">
                    <div class="box">
                        <h2>{{ .Name }}</h2>
                        <p>{{ .Description }}</p>
                        <p><strong>Price:</strong> ${{ .Price }}</p>
                        <button class="snipcart-add-item button is-primary" data-item-id="{{ $id }}"
                            data-item-price="{{ $price }}" data-item-url="{{ $productUrl }}"
                            data-item-description="{{ $description }}" data-item-name="{{ $name }}">
                            Add to Cart
                        </button>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
        {{ else }}
        <p>No content found.</p>
        {{ end }}
    </div>
</section>
{{ end }}
